@import "tailwindcss";

body {
  background-color: #f9fcff;
  color: #051747;
}
.nav-link {
  color: #051747;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #334eac;
  font-weight: bold;
}
/* Hide scrollbar for all elements with overflow-scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar on WebKit browsers */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Hides scrollbar for Internet Explorer & Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}
